/*
*	Rui Qing
*	global.css
*	The Old County. 2013
*/

	/*Global Styles*/
	html{
		overflow-y: auto;
	}

	html, body {
		font-size: 12px;
		color: #8e8e8e;
		font-family:Arial, Helvetica, Verdana, sans-serif;
		width: 100%;
		padding:0;
		margin:0;
	}

	body{
		background: grey;
		overflow: hidden;
	}

	a,
	a img {
		text-decoration: none;
		outline: none;
		border: 0px none transparent;
	}

	a{
		color: grey;
	}


	img {
		border: 0;
	}

	h1{
		font-size:16px;
		line-height: 16px;
		font-family: 'siemens_serifbold', Arial;
	}

	h2{
		font-size: 27px;
		line-height: 27px;
		font-family: 'siemens_serifbold', Arial;
		color: #111111;
	}

	h3{
		font-size: 17px;
		line-height: 17px;
		font-family: 'siemens_sansbold_italic', Arial;
	}

	h4{
		font-size:12px;
		font-family: 'siemens_serifbold', Arial;
		color: #8e8e8e;
	}


	/* global nav */
	.header-container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 4;
		height: 90px;
	}

	.header-container>header{
		width: 92%;
		left: 4%;
		position: relative;
	}

	.header-container>header>h1{
		background: url(../images/logosmall.png) no-repeat;
		margin: 0;
		padding: 0;
		z-index: 99;
		position: absolute;
		left: 14px;
		top: 22px;
		height: 26px;
		text-indent: -9999px;
		width: 25px;
	}

	.header-container>header #menu-link {
		width: 59px;
		height: 58px;
		background: url('../images/mobile/menu.png') 50% 50% no-repeat rgba(0,0,0,0.7);
		border-left: 1px solid #0f0f0f;
		position: relative;
		text-indent: -9999px;
		display: block;
		float: right;
		display: none;
	}


	.header-container>header>nav {
		background: url('../images/menustrip.png') 0 0 repeat-x;
		text-align: center;
		padding: 0 2%;
		margin: 0;
		padding-top: 22px;
		padding-left: 7%;
		display: block;
		z-index: 3;
		position: relative;
		overflow: hidden;
	}

	.header-container>header>nav ul#contactdetails {
		margin: 0;
		float: right;
		padding: 0;
		overflow: hidden;		
	}

	.header-container>header>nav ul#contactdetails li{
		display: inline-block;
		padding-right: 11px;
		line-height: 12px;
		float: left;
	}

	.header-container>header>nav ul.block {
		margin: 0;
		float: left;
		padding: 0;
	}

	.header-container>header>nav ul.block li {
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		margin-right: 4px;
	}
	.header-container>header>nav ul.block>li>a {
		display: block;
		min-width: 20%;
		padding: 1em 0;
		position: relative;
		font-size: 11px;
		font-family: 'siemens_sansbold', Arial;
		color:#ffffff;
	}
	.header-container>header>nav ul.block>li>a:hover {
		color: #ffab26;
	}

	#nav-pointer{
		background: url('../images/marker.png') 50% 1px no-repeat;
		height: 10px;
		width: 10px;
		position: absolute;
		top: 18px;
		left: 141px;
		z-index: 4;
	}






/*	

	#header{
		top: 0;
		left :2%;
		width: 96%;
		position: fixed;
		z-index: 3;
	}
	#header .mobileclose{
		position: absolute;
		top: 0;
		right: 0;
		display: none;
	}

	#header .mobileclose a{
		background: green;
		width: 87px;
		height: 25px;
		display: block;
	}

	#header .mobilemenu{
		position: fixed;
		top: 0;
		right: 0;
		display: none;
	}
	#header .mobilemenu a{
		background: green;
		width: 87px;
		height: 25px;
		display: block;
	}
	#header .wrapperelements{
		background: url('../images/menustrip.png') 0 0 repeat-x;
		overflow: hidden;
	}

	#menu div {
		display: none;
	}

	#menu {
		margin: 0;
		padding: 0;
		overflow: hidden;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		height: 24px;
		padding-top: 34px;
		float: left;
	}

	#menu li {
		display: inline-block;
		padding-left: 6px;
		padding-right: 6px;
		line-height: 12px;
		float: left;
	}

	#menu li:nth-last-child(1) {
		border-right: none;
	}

	#menu li a {
		color: #ffffff;
	}

	#menu li a:active, #menu li a:hover {
		color: #f0c87d;
	}

	#menu li a.selected{
		color: #f0c87d;
	}

	#nav-pointer{
		background: url('../images/marker.png') 50% 1px no-repeat;
		height: 10px;
		width: 10px;
		position: absolute;
		top: 18px;
		left: 141px;
	}

	#contactdetails{
		margin: 0;
		padding: 0;
		overflow: hidden;
		float: right;
		width: 20%;
		padding-top: 23px;
		color: #ffffff;
	}
	#contactdetails li{
		display: inline-block;
		padding-left: 11px;
		padding-right: 11px;
		line-height: 12px;
		float: left;
	}
	#contactdetails a{
		color: #ffffff;
	}
*/


	#footer{
		padding-top: 27px;
		padding-bottom: 27px;
		overflow: hidden;
		background: #000000;
	}

	#container{
		background: #ffffff;
		/*background: brown;*/
		position:relative;
		/*width: 1280px;*/
		width: 100%;
		margin-left:auto;
		margin-right:auto;
	}

	section{
		height:auto;
		position:relative;
	}

	.wraps{
		overflow: hidden;
		position: relative;
		height: 100%;
	}



	.overlayedContent{
		z-index:1;
		position:absolute;
		top:0;
		width: 100%;
		height: 100%;
	}

	.backgroundImage{
		z-index:0;
		/*background: orange;*/
	}

	.backgroundImage img{
		width: 100%;
	}


	.accordioncontainer{
		width: 50%;
		float: right;
		margin-right: 10%;
		font-family: 'siemens_sansregular', Arial;
		font-size: 13px;
		color:#8e8e8e;
	}

	.coloumn {
		width: 18%;
		float: left;
		border-bottom: 1px solid #d5d5e7;
		padding-left: 1%;
		padding-right: 1%;
		padding-bottom: 20px;
		font-size: 14px;
		font-family: 'siemens_sansregular', Arial;
		color: #1c1c1c;
	}

	.wrappers{
		overflow: hidden;
		padding: 5%;
	}

	#soundcloudholder{
		background: #ffffff;
		height: 174px;
		overflow: hidden;
	}


	.dark h3,
	.dark h2,
	.dark h1,
	.coloumn{
		color: #ffffff;
	}

	.light h3,
	.light h2,
	.light h1,
	.coloumn{
		color: #2c2c2c;
	}

	.swiper-wrapper .swiper-slide img{
		width: 100%;
		height: auto;
	}





	section#introduction .transition{
		background: url("../images/transition1.png") 0 bottom no-repeat;
		height: 133px;
		z-index: 2;
		position: absolute;
		bottom: -53px;
		width: 100%;
	}


	section#marketingShots .transition{
		background: url("../images/transition2.png") 0 bottom no-repeat;
		height: 133px;
		z-index: 1;
		position: absolute;
		bottom: -32px;
		width: 100%;
	}



	section#parallaxOne .transition{
		background: url("../images/transition3.png") 0 bottom no-repeat;
		height: 133px;
		z-index: 1;
		position: absolute;
		bottom: -27px;
		width: 100%;
	}



	section#parallaxTwo .transition{
		background: url("../images/transition4.png") 0 bottom no-repeat;
		height: 177px;
		z-index: 1;
		position: absolute;
		bottom: -121px;
		width: 100%;
	}


	section#parallaxThree .transition{
		background: url("../images/transition5.png") 0 bottom no-repeat;
		height: 133px;
		z-index: 2;
		position: absolute;
		bottom: -37px;
		width: 100%;
	}


	section#gallery .transition{
		background: url("../images/transition6.png") 0 bottom no-repeat;
		height: 386px;
		z-index: 1;
		position: absolute;
		bottom: -296px;
		width: 100%;
	}


	section#testimonials .transition{
		background: url("../images/transition7.png") 0 bottom no-repeat;
		height: 271px;
		z-index: 1;
		position: absolute;
		bottom: -165px;
		width: 100%;
	}


	section#about .transition{
		background: url("../images/transition8.png") 0 bottom no-repeat;
		height: 139px;
		z-index: 1;
		position: absolute;
		bottom: -84px;
		width: 100%;
	}
