
	#marketingShots{
		height: 820px;
	}


	#marketinggallery .swiper-wrapper .swiper-slide{
		position: relative;
	}

	#marketinggallery h2{
		position: absolute;
		font-size: 40px;
		line-height: 40px;
		font-family: 'siemens_serifbold';
		margin: 0;
		font-weight: normal;
	}

	#marketinggallery h1{
		position: absolute;
		font-size: 66px;
		line-height: 66px;
		font-family: 'siemens_serifbold';
		margin: 0;
		font-weight: normal;
	}	



	/*compass*/
	.compass h2{
		top: 68%;
		left: 5.4%;
		color: #ffffff;
	}

	.compass h1{
		top: 73%;
		left: 6%;		
		color: #ffffff;	
	}


	/*case*/
	.case h2{
		top: 75%;
		left: 29.4%;
		color: #2c2c2c;
	}

	.case h1{
		top: 79%;
		left: 32%;
		color: #2c2c2c;
	}

	
	/*buddah*/

	.buddahlife h2{
		top: 36%;
		left: auto;
		right: 18%;
		color: #2c2c2c;
	}

	.buddahlife h1{
		top: 41%;
		left: auto;
		color: #2c2c2c;
		right: 4%;
	}

	