
	#marketingShots{
		height: 820px;
	}


	#marketinggallery .swiper-wrapper .swiper-slide{
		position: relative;
	}

	#marketinggallery h2{
		position: absolute;
		font-size: 46px;
		line-height: 46px;
		font-family: 'siemens_serifbold';
		margin: 0;
		font-weight: normal;
	}

	#marketinggallery h1{
		position: absolute;
		font-size: 66px;
		line-height: 66px;
		font-family: 'siemens_serifbold';
		margin: 0;
		font-weight: normal;
	}



	/*compass*/
	.compass h2{
		bottom: 23%;
		left: 3.4%;
		color: #ffffff;
	}

	.compass h1{
		bottom: 17%;
		left: 6%;
		color: #ffffff;
	}


	/*case*/
	.case h2{
		bottom: 32%;
		left: 27.4%;
		color: #2c2c2c;
	}

	.case h1{
		bottom: 26%;
		left: 26%;
		color: #2c2c2c;
	}


	/*buddah*/

	.buddahlife h2{
		top: 24%;
		left: auto;
		right: 8%;
		color: #2c2c2c;
	}

	.buddahlife h1{
		top: 30%;
		left: auto;
		color: #2c2c2c;
		right: 4%;
	}

