




	/*parllax elements*/
	#parallaxOne .coloumn{
		position: absolute;
		top: 150px;
		right: 4%;
	}

	#parallaxTwo .coloumn{
		position: absolute;
		top: 150px;
		left: 4%;
		color: #ffffff;
	}

	#parallaxTwo .coloumn h2,
	#parallaxTwo .coloumn h1{
		color: #ffffff;
	}

	#parallaxThree .coloumn{
		position: absolute;
		top: 150px;
		right: 4%;
	}






	.parallaxobjs{
		overflow: hidden;
		position: absolute;
		top: 0;
		z-index: 1;
		height: 100%;
		width: 100%;
	}

	.objects {
		position: absolute;
		height: 100%;
		z-index: 1;
		background-repeat: no-repeat;
	}




	.goldFish {
		background-image: url("../images/parallax1/fish.png");
		width: 459px;
		left: 27px;
	}

	.gourd {
		background-image: url("../images/parallax1/gourd.png");
		width: 333px;
		left: 576px;
	}

	.coin1 {
		background-image: url("../images/parallax1/coin1.png");
		width: 100px;
		left: 882px;
	}

	.coin2 {
		background-image: url("../images/parallax1/coin2.png");
		width: 152px;
		left: 514px;
	}

	.coin3 {
		background-image: url("../images/parallax1/coin3.png");
		width: 100px;
		left: 377px;
	}











	.tigergold {
		background-image: url("../images/parallax2/tigergold.png");
		width: 488px;
		left: 510px;
	}

	.bunchincense {
		background-image: url("../images/parallax2/bunchincense.png");
		width: 252px;
		left: 307px;
	}

	.incensestick {
		background-image: url("../images/parallax2/incense.png");
		width: 445px;
		left: 703px;
	}






	.buddah {
		background-image: url("../images/parallax3/buddah.png");
		width: 497px;
		left: 183px;
	}

	.bamboo {
		background-image: url("../images/parallax3/bamboo.png");
		width: 463px;
		left: -17px;
	}

	.plant {
		background-image: url("../images/parallax3/plant.png");
		width: 401px;
		left: 546px;
	}

	.leaf1 {
		background-image: url("../images/parallax3/leaf1.png");
		width: 244px;
		left: 493px;
	}


	.leaf2 {
		background-image: url("../images/parallax3/leaf2.png");
		width: 191px;
		right: -1%;
	}
