




	/*parllax elements*/
	#parallaxOne .coloumn{
		position: absolute;
		top: 150px;
		right: 4%;
		z-index:2;
	}

	#parallaxTwo .coloumn{
		position: absolute;
		top: 150px;
		left: 4%;
		color: #ffffff;
		z-index:2;
	}

	#parallaxTwo .coloumn h2,
	#parallaxTwo .coloumn h1{
		color: #ffffff;
	}

	#parallaxThree .coloumn{
		position: absolute;
		top: 150px;
		right: 4%;
		z-index:2;
	}






	.parallaxobjs{
		overflow: hidden;
		position: absolute;
		top: 0;
		z-index: 1;
		height: 100%;
		width: 100%;
	}

	.objects {
		position: absolute;
		height: 100%;
		z-index: 1;
		background-repeat: no-repeat;
		top:0;left:0;
		width:100%;
		margin: 0;
	}




	.goldFish {
		background: url("../images/parallax1/fish.png") no-repeat;
		background-position-x: 1%!important;
	}

	.gourd {
		background: url("../images/parallax1/gourd.png") no-repeat;
		background-position-x: 46%!important;
	}

	.coin1 {
		background: url("../images/parallax1/coin1.png") no-repeat;
		background-position-x: 1%!important;
	}

	.coin2 {
		background: url("../images/parallax1/coin2.png") no-repeat;
		background-position-x: 35%!important;
	}

	.coin3 {
		background: url("../images/parallax1/coin3.png") no-repeat;
		background-position-x: 58%!important;
	}











	.tigergold {
		background: url("../images/parallax2/tigergold.png") no-repeat;
		background-position-x: 69%!important;
	}

	.bunchincense {
		background: url("../images/parallax2/bunchincense.png") no-repeat;
		background-position-x: 39%!important;
	}

	.incensestick {
		background: url("../images/parallax2/incense.png") no-repeat;
		background-position-x: 85%!important;
	}






	.buddah {
		background: url("../images/parallax3/buddah.png") no-repeat;
		background-position-x: 27%!important;
	}

	.bamboo {
		background: url("../images/parallax3/bamboo.png") no-repeat;
		background-position-x: -26%!important;
	}

	.plant {
		background: url("../images/parallax3/plant.png") no-repeat;
		background-position-x: 66%!important;
	}

	.leaf1 {
		background: url("../images/parallax3/leaf1.png") no-repeat;
		background-position-x: 50%!important;
	}

	.leaf2 {
		background: url("../images/parallax3/leaf2.png") no-repeat;
		background-position-x: 100%!important;
	}


	.mobileparallax{
		display: none;
		overflow: hidden;
		position: absolute;
		top: 0;
		z-index: 1;
		height: 100%;
		width: 100%;
	}

	.moneytheme {
		background: url("../images/parallax1/mobile/combined.png") no-repeat;
		background-position-x: -78%!important;
	}

	.culturetheme {
		background: url("../images/parallax2/mobile/combined.png") no-repeat;
		background-position-x: 151%!important;
	}

	.healththeme{
		background: url("../images/parallax3/mobile/combined.png") no-repeat;
		background-position-x: -16%!important;
	}
