
/*
#gallery,
#marketingShots{
	display: none;
}
*/

/*
#contact{
	height: auto!important;
}
*/

	/*responsive*/
	@media only screen and (min-width: 1500px){
		#container{
			/*background: purple;*/
			width: 1500px;
		}

		.fs-img {
			max-width: 1500px!important;
		}

		.transition {			
			background-size: 100% auto!important;	
		}

		section#introduction .transition {
			bottom: -64px;
		}
		section#marketingShots .transition {
			bottom: -37px;
		}

		section#parallaxOne .transition {
			bottom: -34px;
		}

		section#parallaxTwo .transition{
			bottom: -141px;
		}

		section#parallaxThree .transition{
			bottom: -44px;
		}

		section#gallery .transition{
			bottom: -347px;
		}

		section#testimonials .transition{
			bottom: -195px;
		}

		section#about .transition{
			bottom: -98px;
		}

	}

	/*standard mode*/
	@media only screen and (max-width: 1499px) and (min-width: 1280px){
		#container{
			/*background: red;*/
			width: 1280px;
		}

		.swiper-container, .swiper-slide {
			width: 1280px;
			height: 800px;
			/*background: red;*/
		}
		#header .wrapperelements{
			display: block!important;
		}
	}

	/*standard mode*/
	@media only screen and (max-width: 1279px) and (min-width: 1264px){
		#container{
			/*background: red;*/
			width: 100%;
			/*width: 1264px;*/
		}


		.swiper-container, .swiper-slide {
			width: 1264px;
			height: 800px;
			/*background: red;*/
		}

		#header .wrapperelements{
			display: block!important;
		}

	}


	@media only screen and (max-width: 1263px) and (min-width: 750px){

		#marketinggallery h2 {
			font-size: 44px;
			line-height: 44px;
		}
		#marketingShots h1{
			font-size: 39px;
			line-height: 39px;
		}

		.compass h2{
			bottom: 25%;
			left: 5.4%;
		}
		.compass h1{
			bottom: 19%;
			left: 6%;
		}

		.case h2{
			bottom: 29%;
			left: 17.4%;
		}
		.case h1{
			bottom: 24%;
			left: 17.4%;
		}

		.buddahlife h2{
			top: 14%;
			right: 8%;
		}
		.buddahlife h1{
			top: 21%;
			right: 10%;
		}


		#contactdetails{
			font-size: 11px;
		}


		#menu li {
			padding-right: 2px;
		}

		#header .wrapperelements{
			display: block!important;
		}


	}

	@media only screen and (min-width: 760px){
		#container,
		#menu {
			right: 0!important;
		}
	}

	@media only screen and (max-width: 760px){
		


		#marketingShots .arrow{
			display:none;
		}

		.pagination .swiper-pagination-switch {
			background-size: 100% auto;
			width: 18px;
			height: 19px;
		}

		.pagination .swiper-active-switch {
			background-size: 100% auto;
			width: 23px;
			top: 1px;
			position: relative;
		}

		.pagination {
			bottom: 53px;
			padding-top: 7px;
		}

		#header {
			left: 0;
			width: 100%;
		}



		#contactdetails{
			float: left;
			width: 100%!important;
			text-align: center;
		}

		#contactdetails li{
			width: 100%;
			text-align: center!important;
		}


		section#gallery .transition{
			height: 366px;
		}

		section#marketingShots .transition{
			height: 101px;
		}

		#container{
			position: absolute;
		}

		.header-container>header {
			width:100%;
			left: 0;
		}

		.header-container>header #menu-link {
			display: block;
		}

		#menu li {
			width: 100%;
		}
		#menu {
			position: absolute;
			overflow: hidden;
			top: 0;
			right: -240px;
			padding: 0;
			width: 240px;
			height: auto;
			background: #111315;
			box-shadow: inset 5px 0 7px 1px #000;
		}

		.header-container>header>nav ul#contactdetails {
			background: #333333;
			padding-top: 5px;
			padding-bottom: 5px;		
		}

		.header-container>header>nav ul.block li {
			border-bottom: 1px dotted #303133;
		}

		.header-container>header>h1,
		#nav-pointer{
			display: none;
		}
	}



	/*degrade paralax images for ipad portrait mode */
	@media only screen and (max-width: 900px){
		
		ul#contactdetails{
			width: 110px;
		}

		ul#contactdetails li{
			width: 100%;
			padding-right: 0;
			text-align: right;		
		}

		.goldFish {
			background-image: url("../images/parallax1/mobile/fish.png")!important;
		}

		.gourd {
			background-image: url("../images/parallax1/mobile/gourd.png")!important;
		}

		.coin1 {
			background-image: url("../images/parallax1/mobile/coin1.png")!important;
		}

		.coin2 {
			background-image: url("../images/parallax1/mobile/coin2.png")!important;
		}

		.coin3 {
			background-image: url("../images/parallax1/mobile/coin3.png")!important;
		}




		.tigergold {
			background-image: url("../images/parallax2/mobile/tigergold.png")!important;
		}

		.bunchincense {
			background-image: url("../images/parallax2/mobile/bunchincense.png")!important;
		}

		.incensestick {
			background-image: url("../images/parallax2/mobile/incense.png")!important;
		}




		.buddah {
			background-image: url("../images/parallax3/mobile/buddah.png")!important;
		}

		.bamboo {
			background-image: url("../images/parallax3/mobile/bamboo.png")!important;
		}

		.plant {
			background-image: url("../images/parallax3/mobile/plant.png")!important;
		}

		.leaf1 {
			background-image: url("../images/parallax3/mobile/leaf1.png")!important;
		}

		.leaf2 {
			background-image: url("../images/parallax3/mobile/leaf2.png")!important;
		}


	}		



	/*standard mode*/
	@media only screen and (max-width: 836px) and (min-width: 760px){


		#marketinggallery h2 {
			font-size: 40px;
			line-height: 40px;
		}
		#marketingShots h1{
			font-size: 37px;
			line-height: 37px;
		}

		.compass h2{
			bottom: 25%;
			left: 5.4%;
		}
		.compass h1{
			bottom: 19%;
			left: 6%;
		}

		.case h2{
			bottom: 29%;
			left: 17.4%;
		}
		.case h1{
			bottom: 24%;
			left: 17.4%;
		}

		.buddahlife h2{
			top: 14%;
			right: 8%;
		}
		.buddahlife h1{
			top: 21%;
			right: 10%;
		}




		#parallaxOne .coloumn,
		#parallaxTwo .coloumn,
		#parallaxThree .coloumn {
			top: 17px!important;
		}

		h2 {
			font-size: 15px;
			line-height: 15px;
		}
		h3 {
			font-size: 12px;
			line-height: 12px;
		}

		.coloumn {
			width: 32%;
			font-size: 12px;
		}

		#container{
			/*background: red;*/
			width: 100%;
		}


		#marketingShots{
			height:810px;
		}


	}


	/*ipad portrait 768px*/

	/*ipad mode*/
	@media only screen and (max-width: 750px) and (min-width: 451px){

		#marketinggallery h2 {
			font-size: 30px;
			line-height: 30px;
		}
		#marketingShots h1{
			font-size: 27px;
			line-height: 27px;
		}

		.compass h2{
			bottom: 25%;
			left: 5.4%;
		}
		.compass h1{
			bottom: 20%;
			left: 6%;
		}

		.case h2{
			bottom: 32%;
			left: 17.4%;
		}
		.case h1{
			bottom: 26%;
			left: 17.4%;
		}

		.buddahlife h2{
			top: 11%;
			right: 9%;
		}
		.buddahlife h1{
			top: 17%;
			right: 10%;
		}



		.coloumn {
			z-index: 2;
		}

		.socialpack .wrapper{
			bottom: 18px!important;
		}
		.socialpack{
			font-size: 14px!important;
		}

		#parallaxOne .coloumn,
		#parallaxTwo .coloumn,
		#parallaxThree .coloumn {
			top: 17px!important;
		}

		h2 {
			font-size: 15px;
			line-height: 15px;
		}
		h3 {
			font-size: 12px;
			line-height: 12px;
		}

		.coloumn {
			width: 32%;
			font-size: 12px;
		}

		#container{
			/*background: green;*/
			width: 100%;
			/*width: 640px;*/
		}

		.swiper-container, .swiper-slide {
			width: 100%;
			height: 415px;
			/*background: red;*/
		}

		#cover-flow {
			height: 415px!important;
		}

		#cover-flow nav a {
			width: 95px!important;
		}

		#marketingShots{
			height:415px;
		}
	}





	/*mobile mode less 450px*/
	@media only screen and (max-width: 450px){

		.coloumn {
			width: 45%!important;
		}	
					
		.coloumn.fullbleed{
			float: left;
			width: 98%!important;
		}

		.wrappers{
			width: 85%;
		}


		.pagination .swiper-pagination-switch {
			background-size: 100% auto;
			width: 18px;
			height: 19px;
		}

		.pagination .swiper-active-switch {
			background-size: 100% auto;
			width: 23px;
			top: 1px;
			position: relative;
		}

		.pagination {
			bottom: 7px;
			padding-top: 7px;
		}


		.parallaxobjs{
			display: none;
		}
		.mobileparallax{
			display: block!important;
		}

		section#introduction .transition{
			background: url("../images/mobile/transition1.png") 0 bottom no-repeat;
			height: 40px;
			z-index: 2;
			position: absolute;
			bottom: -17px;
			width: 100%;
		}


		section#marketingShots .transition{
			background: url("../images/mobile/transition2.png") 0 bottom no-repeat;
			height: 35px;
			z-index: 1;
			position: absolute;
			bottom: -12px;
			width: 100%;
		}



		section#parallaxOne .transition{
			background: url("../images/mobile/transition3.png") 0 bottom no-repeat;
			height: 25px;
			z-index: 1;
			position: absolute;
			bottom: -9px;
			width: 100%;
		}



		section#parallaxTwo .transition{
			background: url("../images/mobile/transition4.png") 0 bottom no-repeat;
			height: 66px;
			z-index: 1;
			position: absolute;
			bottom: -41px;
			width: 100%;
		}


		section#parallaxThree .transition{
			background: url("../images/mobile/transition5.png") 0 bottom no-repeat;
			height: 23px;
			z-index: 2;
			position: absolute;
			bottom: -14px;
			width: 100%;
		}


		section#gallery .transition{
			background: url("../images/mobile/transition6.png") 0 bottom no-repeat;
			height: 127px;
			z-index: 1;
			position: absolute;
			bottom: -105px;
			width: 100%;
		}


		section#testimonials .transition{
			background: url("../images/mobile/transition7.png") 0 bottom no-repeat;
			height: 95px;
			z-index: 1;
			position: absolute;
			bottom: -58px;
			width: 100%;
		}


		section#about .transition{
			background: url("../images/mobile/transition8.png") 0 bottom no-repeat;
			height: 49px;
			z-index: 1;
			position: absolute;
			bottom: -31px;
			width: 100%;
		}
	}






	/*mobile mode 450px*/
	@media only screen and (max-width: 450px) and (min-width: 321px){

		#marketinggallery h2 {
			font-size: 30px;
			line-height: 30px;
		}
		#marketingShots h1{
			font-size: 27px;
			line-height: 27px;
		}

		.compass h2{
			bottom: 25%;
			left: 5.4%;
		}
		.compass h1{
			bottom: 17%;
			left: 6%;
		}

		.case h2{
			bottom: 32%;
			left: 17.4%;
		}
		.case h1{
			bottom: 26%;
			left: 17.4%;
		}

		.buddahlife h2{
			top: 5%;
			right: 8%;
		}
		.buddahlife h1{
			top: 13%;
			right: 4%;
		}


		.mobileparallax{
			display: block!important;
		}
		.coloumn {
			z-index: 2;
		}
		.parallaxobjs{
			display: none;
		}
		.socialpack .wrapper{
			bottom: 18px!important;
		}
		.socialpack{
			font-size: 14px!important;
		}
		


		#about .accordioncontainer,
		#contact .contactform{
			width: 98%;
			margin-right: 0;
			padding-top: 35px;
			margin-top:0;
		}

		#contact .contactform{
			height: 580px;
			padding-bottom: 40px;
		}


		#parallaxOne .coloumn,
		#parallaxTwo .coloumn,
		#parallaxThree .coloumn {
			top: 17px!important;
			width: 40%;
		}

		h2 {
			font-size: 15px;
			line-height: 15px;
		}
		h3 {
			font-size: 12px;
			line-height: 12px;
		}
		.coloumn {
			font-size: 12px;
		}

		#container{
			background: pink;
			/*width: 100%;*/
		}

		.swiper-container, .swiper-slide {
			width: 450px;
			height: 241px;
			/*background: red;*/
		}
	}




	/*mobile mode*/
	@media only screen and (max-width: 320px){


		#marketinggallery h2 {
			font-size: 25px;
			line-height: 25px;
		}
		#marketingShots h1{
			font-size: 19px;
			line-height: 19px;
		}

		.compass h2{
			bottom: 25%;
			left: 5.4%;
		}
		.compass h1{
			bottom: 17%;
			left: 6%;
		}

		.case h2{
			bottom: 32%;
			left: 17.4%;
		}
		.case h1{
			bottom: 26%;
			left: 17.4%;
		}

		.buddahlife h2{
			top: 5%;
			right: 8%;
		}
		.buddahlife h1{
			top: 13%;
			right: 4%;
		}



		.mobileparallax{
			display: block!important;
		}
		.coloumn {
			z-index: 2;
		}
		.parallaxobjs{
			display: none;
		}

		.socialpack .wrapper{
			bottom: 18px!important;
		}
		.socialpack{
			font-size: 14px!important;
		}
		#about .coloumn,
		#contact .coloumn{
			float: left;
			width: 98%;
		}

		#about .accordioncontainer,
		#contact .contactform{
			width: 98%;
			margin-right: 0;
			padding-top: 35px;
			margin-top:0;
		}

		#contact .contactform{
			height: 580px;
			padding-bottom: 40px;
		}

		.accordioncontainer {
			width: 51%;
			font-size: 12px;
		}
		.ui-accordion .ui-accordion-content {
			padding: 4px;
		}
		.ui-accordion .ui-accordion-header {
			padding: 5px;
			margin-bottom: -11px;
			font-size: 15px;
			line-height: 15px;
		}
		.accordioncontainer h4 {
			font-size: 28px;
			line-height: 28px;
		}

		#parallaxOne .coloumn,
		#parallaxTwo .coloumn,
		#parallaxThree .coloumn {
			top: 17px!important;
		}

		h2 {
			font-size: 15px;
			line-height: 15px;
		}
		h3 {
			font-size: 12px;
			line-height: 12px;
		}
		.coloumn {
			width: 35%;
			font-size: 12px;
		}


		#container{
			background: pink;
			/*width: 320px;*/
		}

		.swiper-container, .swiper-slide {
			width: 100%;
			height: 215px;
			/*background: red;*/
		}

		#marketingShots{
			height:230px;
		}

		#cover-flow nav a {
			width: 65px!important;
		}

		#cover-flow {
			height: 220px!important;
		}


	}

