

#testimonials{
	background: #d1d1d1;
}

.audiolist{
	margin: 0;
	padding: 0;
	border: 1px solid #e6e6e6;
	margin-top: -4px;
}
.audiolist li {
	background: #efefef;
	color: #1d1d1d;
	list-style-type:none;
}
.audiolist li:nth-child(2n+2){
	background: #f5f5f5;
}
.audiolist li:hover{
	background: #fe2502;
	color: #ffffff;
}
.audiolist li a:hover{
	color: #ffffff;
}
.audiolist li a{
	display: block;
	padding: 4px;
	color: #1d1d1d;
}
.audiofoot{
	background: #efefef;
	color: #1d1d1d;
	margin-bottom: 50px;
	overflow: hidden;
}
.audiofoot .logoimg{
	float: left;
	padding: 3px;
}
.audiofoot .title{
	float: left;
	padding: 3px;
}
